:root{
    --color-primario: #698CFF;
    --fondo: #BDCEFC;
    --texto: #6E6E6E;
    --borde: #ACC0FA;
    --fondo2: #90A2DE;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

main{
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--fondo2);
    padding: 3rem;
}
aside{
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--fondo2);
    padding: 3rem;
}




/*-----------
HEADER Y NAV
-----------*/

header>h1{
    text-align: center;
}

.display-header{
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    flex-direction: row;
    background-color: var(--fondo);
    padding: 0.3rem;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
nav a{
    text-decoration: none;
    color: var(--texto);
    font-size: 1.2rem;
    transition: font-size 0.3s ease, color 0.3s ease;
}

nav a:hover{
    font-size: 1.3rem;
    color: black;
}


/*-----------
MAIN
-----------*/

.justificar-alcentro{
    display: flex;
    justify-content: center;
    align-items: center;
}

aside>h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
aside>ul{
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    font-size: 1.3rem;
}

/*-----------
INPUTS Y BOTONES
-----------*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categorias_ordenadas{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0px;
}

.claseinput {
    width: 40%;
    padding: 10px;
    border: 4px solid var(--borde);
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.claseboton{
    margin-top: 10px;
    padding: 10px;
    background-color: var(--color-primario);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.1s ease;
}
.claseboton:hover{
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    color: var(--texto);
}


/*-----------
TARJETAS DE PRODUCTOS
-----------*/
.claseinput:focus{
    background-color: var(--fondo);
    outline: none;
}

.categoria{
    transition: font-size 0.3s ease;
    text-decoration: none;
    color: var(--texto);
}

aside>ul>li:hover{
    font-size: 1.4rem;
}

.claseimg{
    width: 20%;
    height: auto;
    border-radius: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: var(--fondo);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    align-items: center;
    text-align: center;
    margin: 0px auto 30px;
    width: 50%;
    font-size: 1.5rem;
}

/*-----------
FOOTER
-----------*/
footer{
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--fondo);
    padding: 3rem;
    font-size: 1.2rem;
}